    .form-control:focus {
    box-shadow: none;
    border-color: blue;
  }
  
  .profile-button {
    background: blue;
    box-shadow: none;
    border: none;
  }
  
  .profile-button:hover {
    background: darkblue;
  }
  
  .profile-button:focus {
    background: darkblue;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: darkblue;
    box-shadow: none;
  }
  
  .back:hover {
    color: darkblue;
    cursor: pointer;
  }
  #deleteaccount{
    margin-left: 0px;
  }
  #editprof{
    border-style:solid;
  }
  #profdetails{
    margin-top: 50px;
  }

  .editprofilebuttons{
    display: flex;
  }

  .left{
    margin-right: 100px;
  }